{
    "rules": {
        // "semi": [
        //     "error",
        //     "never"
        // ]
        "camelcase": "error"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2020
    }
}